<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.jdt.ui.category.refactoring"
            description="Hide access to a chain of delegates"
            id="com.stateofflow.eclipse.refactor.hidedelegate.command"
            name="Hide Delegate">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.stateofflow.eclipse.refactor.hidedelegate.popupmenu"
            targetID="#CompilationUnitEditorContext">
         <action
               class="com.stateofflow.eclipse.tane.hidedelegate.ui.HideDelegateAction"
               definitionId="com.stateofflow.eclipse.refactor.hidedelegate.command"
               id="com.stateofflow.eclipse.refactor.hidedelegate.action"
               label="Hide Delegate..."
               menubarPath="additions">
         </action>
      </viewerContribution>
      <!--
      <viewerContribution
            id="com.stateofflow.eclipse.tane.extractstrategy.popupmenu"
            targetID="#CompilationUnitEditorContext">
         <action
               class="com.stateofflow.eclipse.tane.extractstrategy.ui.ExtractStrategyAction"
               definitionId="com.stateofflow.eclipse.tane.extractstrategy.command"
               id="com.stateofflow.eclipse.tane.extractstrategy.action"
               label="Extract Strategy"
               menubarPath="additions">
         </action>
      </viewerContribution>
      -->
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="com.stateofflow.eclipse.tane.hidedelegate.ui.quickassist.QuickAssistProcessor"
            id="com.stateofflow.eclipse.tane.hidedelegate.quickassistprocessor"
            name="Hide Delegate">
      </quickAssistProcessor>
      <quickAssistProcessor
            class="com.stateofflow.eclipse.tane.minimisescope.ui.quickassist.QuickAssistProcessor"
            id="com.stateofflow.eclipse.tane.minimisescope.quickassistprocessor"
            name="Minimise Scope">
      </quickAssistProcessor>
   </extension>
</plugin>
