.code {
	font-size: 10pt;
	font-weight: medium;
	font-style: Regular;
	color: #4444CC;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: Courier, monospace;
	white-space: pre;
}

div.code {
	background: #DDFFDD;
}

div.blockquote, div.code {
	border: 1px dashed gray;
	margin-left: 50px;
	margin-right: 50px;
	padding-left: 10px;
	padding-left: 10px;
}

div.blockquote {
	background: #FFEEEE;
	padding-top: 10px;
	padding-bottom: 10px;
}

span.selected {
	background: #BBBBFF
}

div.codeBlock {
	margin-left: 20;
}

body {
	background: #FFFFFF
}

h1 {
	font-size: 18pt;
	margin-top: 5;
	margin-bottom: 1
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

a:link {
	color: #0000FF
}

a:hover {
	color: #000080
}

a:visited {
	text-decoration: underline
}

div.attribution {
	font-size: 8pt;
	font-weight: medium;
	font-style: Regular;
	color: #444444;
	text-decoration: none;
	text-align:center;
}